---
import Layout from "../../layouts/Layout.astro"
import { projectData } from "../../components/projectData.astro"
import { Image } from "astro:assets"
const { proyecto } = Astro.params
const info = projectData.find((item)=> item.id === Number(proyecto))


if(!info) return Astro.redirect('/404', 404)

---

<Layout title={`Proyecto: ${info.title}`}>
    <section style={`view-transition-name: form`} class="max-w-3xl mx-auto">
        <h1 style={`view-transition-name: title-${info.id} view-transition-name: title`} class="text-center font-bold text-4xl mb-12">{info.title}</h1>
        <p style={`view-transition-name: description-${info.id} view-transition-name: form`} class="text-lg mb-12">{info.description}</p>
        <Image src={info.image} height={600} width={800} alt={`Proyecto: ${info.image}`} 
        class="mx-auto lg:aspect-[600px/800px] rounded hover:shadow-lg transition-all hover:shadow-white cursor-pointer"/
        style={`view-transition-name: image-${info.id}`}>
    </section>
</Layout>