---
import Layout from "../../layouts/Layout.astro";
import Projects from "../../components/projects.astro";
import { projectData } from "../../components/projectData.astro";
---

<Layout title="Proyectos">
  <section class="mx-auto w-11/12">
    <h3
      style={`view-transition-name: title`}
      class="text-center text-3xl font-bold"
    >
      Proyectos
    </h3>
    <div style={`view-transition-name: form`}>
      <ul class="list-none flex flex-col gap-y-6 pt-12 pb-24">
        {
          projectData.map(
            ({ id, title, description, image, svg1, svg2, svg3 }, index) => {
              return (
                <li
                  id={String(id)}
                  class={`${index === 1 || index === 6 ? "col-span-2" : ""}`}
                >
                  <a href={`/proyectos/${id}`}>
                    <Projects
                      id={id}
                      title={title}
                      description={description}
                      image={image}
                      svg1={svg1}
                      svg2={svg2}
                      svg3={svg3}
                    />
                  </a>
                </li>
              );
            }
          )
        }
      </ul>
    </div>
  </section>
</Layout>
